.main-container-style {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 400px;
    background-color: rgb(146, 146, 146);
    padding: 5px;
    border-radius: 25px;
}

.results-container-style {
    width: 100%;
    height: 75px;
    background-color: rgb(60, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
}

.button-row-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.number-button{
    height: 30px;
    width: 10px;
    flex-grow: 1;
    margin: 1px;
    border-radius: 5px;
}

.operator-button, .clear-button, .equal-button{
    height: 30px;
    background-color: #ffedca;
    width: 10px;
    flex-grow: 1;
    margin: 1px;
    border-radius: 5px;
}

.number-button:hover, .operator-button:hover, .clear-button:hover, .equal-button:hover {
    background-color: #f8a500;
    cursor: pointer;
}